<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Lemon's home frontpage</title>
  <meta name="description" content="Lemon's home frontpage">
  <meta name="author" content="Dave">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<!--
<table style="width:100%">
  <tr>
    <th>OUI</th>
    <th>MAC</th>
    <th>IP</th>
    <th>address-book Entry?</th>
    <th>Part of policy?</th>
    <th>Add to firewall?</th>
  </tr>
  <tr>
    <td style = "text-align: center;">Apple MAC</td>
    <td style = "text-align: center;">02:bf:3d:f5:2e:34</td>
    <td style = "text-align: center;">192.168.11.134</td>
    <td style = "text-align: center;">Yes - "LEMON MAC PRO"</td>
    <td style = "text-align: center;">Yes - "SAFE"</td>
    <td style = "text-align: center;"><button name="button">Add to SRX Policy: SAFE</button></td>
  </tr>
</table>
-->
<iframe src="details.html" style="width:100%; height:100%;"></iframe>

</body>
</html>

